<header class="site-header" role="banner">
  <a class="site-title" rel="author" href="{{ '/' | relative_url }}">
    <img src="{{ '/assets/images/sub-studio-icon.png' | relative_url }}" class="site-icon">
  </a>
  <div class="wrapper" style="margin-left: auto; margin-right: 0;">
    {%- assign default_paths = site.pages | map: "path" -%}
    <nav class="site-nav">
      <input type="checkbox" id="nav-trigger" class="nav-trigger" />
      <label for="nav-trigger">
        <span class="menu-icon">
          <svg viewBox="0 0 18 15" width="18px" height="15px">
            <path d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484..." />
          </svg>
        </span>
      </label>

      <div class="trigger jersey-10-regular" style="justify-content: center; display: flex; gap: 16px;">
        {%- for item in site.data.navigation -%}
        <a class="page-link" href="{{ item.link | relative_url }}">{{ item.name | upcase }}</a>
        {%- endfor -%}
      </div>
    </nav>
  </div>
</header>